* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-login {
    padding: 10px 15px;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
}

/* Overlay background */
.overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

/* Login form */
.loginform {
    width: 350px;
    padding: 30px 20px;
    background-color: rgb(230, 227, 227);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    box-shadow: 0px 0px 10px 3px grey;
    transition: 0.3s;
    z-index: 10;
}

.loginform input {
    width: 100%;
    margin-bottom: 15px;
    height: 35px;
}

.loginform button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/* Close button */
.loginform .close-btn {
    position: absolute;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    line-height: 30px;
    text-align: center;
    top: 0px;
    cursor: pointer;
}

/* Active classes */
.showOverlay {
    opacity: 1;
    z-index: 5;
}

.showForm {
    transform: translate(-50%, -50%) scale(1);
}
